{
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "proseWrap": "preserve",
        "printWidth": 200,
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
